www.davidbenjamin.dev {
	redir https://davidbenjamin.dev{uri} permanent
}

davidbenjamin.dev {
	reverse_proxy /api/* backend:5000
	reverse_proxy /grafana/* 138.197.43.79:3001

	reverse_proxy * frontend:80
}
